@mixin formMixin {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-primary);

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2.5rem;

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 3.75rem;
    }
  }
}

@mixin authFormMixin {
  align-items: center;

  &__title {
    @include headingH3;
    margin-bottom: 3.75rem;
    text-align: center;
  }

  &__description {
    @include paragraphSmallLight;
    color: light-dark(var(--text-secondary), var(--white_ff));
    order: 1;
    white-space: nowrap;
  }

  &__switch {
    @include paragraphSmallMadium;
    border-bottom: 1px solid light-dark(var(--text-secondary), var(--white_ff));
    cursor: pointer;
  }

  .button {
    margin-bottom: 3.75rem;
    @media screen and (min-width: $breakpoint-md) {
      margin: 0;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    max-width: 340px;
    margin: 0 auto;

    &__title {
      @include headingH1;
      white-space: nowrap;
      margin-bottom: 1.25rem;
    }

    &__description {
      order: 0;
      margin-bottom: 3.75rem;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    color: light-dark(var(--text-secondary), var(--white_ff));

    .form-element__label {
      color: light-dark(var(--text-secondary), var(--white_ff)) !important;
    }
  }
}
