@mixin inputMixin {
  position: relative;

  &__label {
    @include inputText;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--text-primary);
  }

  &__error {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    position: absolute;
    bottom: -0.25rem;
    transform: translateY(100%);
    color: var(--error);
    @include paragraphBaseLight;

    .icon {
      flex: none;
    }
  }

  &__wrapper {
    border-radius: 0.25rem;
    display: flex;
    padding: 0.75rem 1rem;
    gap: 0.75rem;
    align-items: center;
    background-color: var(--background-secondary);
    border: 1px solid light-dark(var(--gray_de), transparent);
    color: var(--text-secondary);
    position: relative;

    &:hover {
      border-color: var(--input-border-hover);
    }
  }

  &__wrapper:has(&__input:focus) {
    border-color: var(--text-secondary);
  }

  &__input {
    color: var(--text-secondary);
    @include paragraphBaseLight;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;

    &::placeholder {
      color: var(--gray_9c);
    }

    &:focus + &__wrapper {
      border-color: var(--text-secondary);
    }
  }

  &:has(&__error) &__wrapper {
    border-color: var(--error);
  }
}
