@mixin inputMixin {
  &__label {
    @include inputText;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--primary-black);
  }
  &__error {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    color: var(--accent-error);
    @include paragraphBaseLight;
  }
  &--wrapper {
    border-radius: 0.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    background-color: var(--primary-white);
    border: 1px solid var(--primary-gray-light);
    color: var(--primary-gray-dark);
    position: relative;
    &:hover {
      border-color: var(--secondary-gray);
    }
    &:has(.form__element__input:focus) {
      border-color: var(--primary-gray-dark);
    }
  }
  &__input {
    color: var(--primary-gray-dark);
    @include paragraphBaseLight;
    padding: 0.75rem 1rem;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    &::placeholder {
      color: var(--secondary-gray);
    }
    &:focus + .form__element--wrapper {
      border-color: var(--primary-gray-dark);
    }
  }
  &.error {
    .form__element--wrapper {
      margin-bottom: 0.25rem;
      border-color: var(--accent-error);
    }
  }
  &--dark {
    .form__element__label {
      color: var(--primary-white);
    }
    .form__element--wrapper {
      color: var(--primary-gray-light);
      background-color: var(--secondary-black);
      border-color: transparent;
      &:hover {
        border-color: var(--primary-gray-dark);
      }

      &:has(.form__element__input:focus) {
        border-color: var(--primary-gray-light);
      }
    }
    .form__element__input {
      color: var(--primary-gray-light);
    }
  }
}
