@mixin modalMixin {
  color: var(--text-primary);
  background-color: var(--background-primary);
  overflow: hidden auto;
  position: relative;
  height: 100%;

  &__icon-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    color: var(--text-secondary);

    @media screen and (min-width: $breakpoint-md) {
      top: 2rem;
    }

    @media screen and (min-width: $breakpoint-lg) {
      right: 2rem;
    }
  }

  &--shadow {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba($color: #030303, $alpha: 0.6);
    z-index: 2;
  }

  &__content {
    display: flex;
  }
}
