@mixin modalMixin {
  position: fixed;
  overflow: hidden;
  z-index: 3;
  color: var(--text-primary);
  background-color: var(--background-primary);

  &__icon-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-md) {
      top: 2rem;
    }

    @media screen and (min-width: $breakpoint-lg) {
      right: 2rem;
    }
  }

  &--shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #030303, $alpha: 0.6);
    z-index: 2;
  }

  &__content {
    display: flex;
  }
}

@mixin authModalMixin {
  &__content {
    padding: 0 1.75rem 2rem;
    align-items: end;
    height: 100vh;
    width: 100vw;
  }
  &__img {
    display: none;
    img {
      margin-top: 4px;
    }
  }
  &__form {
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-md) {
    &__content {
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &__content {
      width: 1028px;
      height: 700px;
    }
    &__img {
      display: block;
    }
    &__form {
      flex: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
  }
}
