:root {
  --primary-black: #121212;
  --primary-white: #ffffff;
  --primary-gray-dark: #575757;
  --primary-gray-light: #dedede;

  --accent-gold: #ab8956;
  --accent-red: #9b4b4b;
  --accent-error: #ae2917;

  --secondary-white: #fcfcfc;
  --secondary-gray: #9c9c9c;
  --secondary-black: #1a1818;
}
