@import 'reset';
@import 'modal';

* {
  transition:
    color 0.25s,
    background-color 0.25s;
}

body {
  background-color: var(--background);
}

.wrapper {
  @media screen and (min-width: $breakpoint-lg) {
    max-width: 1240px;
    margin: 0 auto;
  }
  margin: 0 1.25rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  path {
    fill: currentColor;
  }
}

main {
  padding: 5rem 0;
  @media screen and (min-width: $breakpoint-md) {
    padding: 6.25rem 0;
  }
}

.button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition: all 0.3s;
  width: fit-content;
  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_text {
    @include buttonText;
  }
}

li {
  list-style-type: none;
}

.menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  &_item {
    color: var(--primary-text-dafault);
    &:hover {
      color: var(--primary-text-hover);
    }
  }
}

a {
  color: var(--primary-text-dafault);
  &:hover {
    color: var(--primary-text-hover);
  }
}

.link-icon {
  display: flex;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
