@import 'reset';
@import 'uiStyles';

* {
  transition:
    color 0.25s,
    background-color 0.25s;
}

body {
  background-color: var(--primary-white);
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-gray) color-mix(in srgb, var(--primary-black) 5%, transparent);
}
body[theme='dark'] {
  background-color: var(--primary-black);
  scrollbar-color: var(--primary-gray-d) color-mix(in srgb, #cdcdcd 5%, transparent);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: color-mix(in srgb, var(--primary-black) 5%, transparent);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-gray);
  border-radius: 0.25rem;
  width: 0.25rem;
}

[theme='dark'] {
  ::-webkit-scrollbar-track {
    background-color: color-mix(in srgb, #cdcdcd 5%, transparent);
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-gray-d);
    border-radius: 0.25rem;
    width: 0.25rem;
  }
  a {
    color: var(--primary-gray-light);
    &:hover {
      color: var(--secondary-white);
    }
  }
}

body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 5rem 0;
  @media screen and (min-width: $breakpoint-md) {
    padding: 6.25rem 0;
  }
}

a {
  color: var(--primary-gray-dark);
  &:hover {
    color: var(--primary-black);
  }
}

.wrapper {
  @media screen and (min-width: $breakpoint-lg) {
    max-width: 1240px;
    margin: 0 auto;
  }
  margin: 0 1.25rem;
}

li {
  list-style-type: none;
}

.menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  &__item {
    color: var(--primary-gray-dark);
    cursor: pointer;
    &:hover {
      color: var(--primary-black);
    }
  }
  &--dark {
    .menu__item {
      color: var(--primary-gray-light);
      cursor: pointer;
      &:hover {
        color: var(--primary-white);
      }
    }
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

textarea {
  height: 150px;
  resize: none;
}
