@import 'reset';
@import 'UiStyles';

* {
  transition:
    color 0.25s,
    background-color 0.25s;
}

body {
  background-color: var(--background);
}

.wrapper {
  @media screen and (min-width: $breakpoint-lg) {
    max-width: 1240px;
    margin: 0 auto;
  }
  margin: 0 1.25rem;
}

main {
  padding: 5rem 0;
  @media screen and (min-width: $breakpoint-md) {
    padding: 6.25rem 0;
  }
}

li {
  list-style-type: none;
}

.menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  &_item {
    color: var(--primary-text-dafault);
    &:hover {
      color: var(--primary-text-hover);
    }
  }
}

a {
  color: var(--primary-text-dafault);
  &:hover {
    color: var(--primary-text-hover);
  }
}

.link-icon {
  display: flex;
  align-items: center;
}
