.custom-form_element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &_label {
    color: var(--primary-text-hover);
    @include inputText;
  }
  &_input {
    padding: 0.75rem 1rem;
    @include paragraphBaseLight;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--primary-gray-l);
    border-radius: 0.25rem;
    &::placeholder {
      color: var(--secondary-gray);
    }
    &:hover {
      border-color: var(--secondary-gray);
    }
    &:focus {
      border-color: var(--primary-gray-d);
    }
  }
}

[theme='dark'] {
  .custom-form_element_input {
    border-color: transparent;
    background-color: var(--secondary-black);
  }
}
