@import 'typography.scss';

@mixin buttonMixin {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition: all 0.3s;
  width: fit-content;
  color: var(--primary-text-dafault);
  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_text {
    @include buttonText;
  }
  &:disabled {
    opacity: 0.5;
  }
}

@mixin modalMixin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #030303, $alpha: 0.6);
  z-index: 5;
}

@mixin textGradient($color) {
  background: linear-gradient(180deg, $color 0%, color-mix(in srgb, $color 40%, transparent) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
