@import 'typography.scss';

@mixin buttonMixin {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.75rem;
  transition: all 0.3s;
  color: var(--primary-gray-dark);
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    @include buttonText;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:hover,
  &:focus {
    color: var(--primary-black);
    border-color: var(--primary-black);
  }
  &--dark {
    color: var(--primary-gray-light);
    &:hover,
    &:focus {
      color: var(--primary-white);
      border-color: var(--primary-white);
    }
  }
}

@mixin modalMixin {
  position: fixed;
  overflow: hidden;
  z-index: 3;
  &__icon-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    @media screen and (min-width: $breakpoint-md) {
      top: 2rem;
    }
    @media screen and (min-width: $breakpoint-lg) {
      right: 2rem;
    }
  }
  &--light {
    color: var(--primary-gray-dark);
    background-color: var(--primary-white);
  }
  &--dark {
    color: var(--primary-gray-light);
    background-color: var(--primary-black);
  }
  &--shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #030303, $alpha: 0.6);
    z-index: 2;
  }
}

@mixin textGradient($color) {
  background: linear-gradient(180deg, $color 0%, color-mix(in srgb, $color 40%, transparent) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
